.backpanel{
	height: 45rem;
	width: 35rem;
    background-color: gray;
    position: absolute;
    left: 25%;
    top: 3rem;
    border-radius: 2rem;
}

.front-panel{
    background-color: lightgray;
}

.display-bar{
    height: 6rem;
    width: 30rem;
    background-color: white;
    border-radius: 3rem;
    margin-top: 3rem;
}

.number-button{
    height: 4rem;
    width: 6rem;
    background-color: aliceblue;
    border-radius: 2rem;
}

#number-panel{
    height: 65%;
    width: 90%;
    border-radius: 2rem;
    margin: 3rem auto 0 auto;

    display: flex;
    flex-wrap: wrap;
}

#display-panel{
    height: 20%;
    width: 100%;

    display: flex;
    justify-content: center;
}

.number-row{
    height: 4rem;
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}